{% extends 'registration/base.html' %}
{% load static %}


{% block page_title %}Password reset done{% endblock %}
<!-- Custom styles for this template -->
{% block head_extra %}
    <link href="{% static 'users/css/signin-up.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="container">
      <main class="alert alert-secondary alert-dismissible fade show">
          <div class="py-5 text-center">
            <p >We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p >If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>   
          </div>
      </main>
    </div>
{% endblock %}